@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Montserrat:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.text { 
  /* position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 10; */
  color: red;
  font-size: 25px;
}